<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/form.css"/>
    <title>Query 4</title>
</head>
<body>
    <div class="bgclass">
	    <div class = "formclass">
            <br>
            <form method="post">
                <br>
                <br>
                <input type="text" placeholder="Starting Year (YYYY)" name ="start_year" autocomplete="off" required/>
                <input type="text" placeholder="Ending Year (YYYY)" name="end_year" autocomplete="off" required/>
                <input type="text" placeholder="Number of neighbourhoods" name="number" autocomplete="off" required/>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>

</body>
</html>
